*.pyc
*~
*.png
*.svg
table*.txt
table*.diff
*.test
*.doctest
test*txt
strawdata.py
classes.dot
packages.dot
contrib/
__pycache__/
natu/__pycache__/
natu/config/__pycache__/
*.py[cod]
SALib/
SALib-0.7.1.dist-info/
.cache/
.venv/
