pandas
numpy
matplotlib
# Pandas optional, needed by DataFrame.read_excel
openpyxl
# natu>=0.1.2
# Until that version moves into Pypi, we build it from the GitHub upstream
# TODO: Fix the error messages with natu seen when running  make venv
wheel
setuptools
git+https://github.com/MinhHaDuong/natu.git
#git+https://github.com/kdavies4/natu.git
# -e git+git@github.com:kdavies4/natu.git#egg=natumatplotlib
# For development
pytest
pytest-cov
pytest-regtest
pydocstyle
pycodestyle
black
pylint
# For using the Spyder IDE
# Configure spyder to use python kernel from virtual environment, not system
spyder-kernels
